USE [db_muhtarlik_kayit]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DaireSayisi]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_DaireSayisi](@binaID INT)
RETURNS INT
AS
BEGIN
    DECLARE @sonuc INT
    SELECT @sonuc = COUNT(*) FROM tbl_daire WHERE bina_id = @binaID
    RETURN @sonuc
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_VatandasYas]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_VatandasYas](@dogumTarihi DATE)
RETURNS INT
AS
BEGIN
    RETURN DATEDIFF(YEAR, @dogumTarihi, GETDATE())
END
GO
/****** Object:  Table [dbo].[tbl_vatandas]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_vatandas](
	[vatandas_id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[dogumTarihi] [datetime] NOT NULL,
	[TcNo] [nvarchar](11) NOT NULL,
	[cinsiyet] [nvarchar](1) NOT NULL,
	[telefon] [nvarchar](11) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[medeniDurum_id] [int] NOT NULL,
	[vatandasTur_id] [int] NOT NULL,
	[ikamet_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_vatandas] PRIMARY KEY CLUSTERED 
(
	[vatandas_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tbl_vatandas_email_tekrar_etmesin] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tbl_vatandas_TcNo_tekrar_etmesin] UNIQUE NONCLUSTERED 
(
	[TcNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tbl_vatandas_telefon_tekrar_etmesin] UNIQUE NONCLUSTERED 
(
	[telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_bina]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_bina](
	[bina_id] [int] IDENTITY(1,1) NOT NULL,
	[sokak_id] [int] NOT NULL,
	[disKapiNo] [nvarchar](10) NOT NULL,
	[binaAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_bina] PRIMARY KEY CLUSTERED 
(
	[bina_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_daire]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_daire](
	[daire_id] [int] IDENTITY(1,1) NOT NULL,
	[icKapiNo] [nvarchar](10) NOT NULL,
	[kat] [int] NOT NULL,
	[bina_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_daire] PRIMARY KEY CLUSTERED 
(
	[daire_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ikamet]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ikamet](
	[ikamet_id] [int] IDENTITY(1,1) NOT NULL,
	[daire_id] [int] NOT NULL,
	[tasinmaTarihi] [date] NULL,
	[cikisTarihi] [date] NULL,
	[ikametgahDurumu_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_ikamet] PRIMARY KEY CLUSTERED 
(
	[ikamet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SokaktakiVatandaslar]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_SokaktakiVatandaslar](@sokakID INT)
RETURNS TABLE
AS
RETURN
(
    SELECT v.ad, v.soyad, b.binaAdi, b.disKapiNo
    FROM tbl_vatandas v
    JOIN tbl_ikamet i ON v.ikamet_id = i.ikamet_id
    JOIN tbl_daire d ON i.daire_id = d.daire_id
    JOIN tbl_bina b ON d.bina_id = b.bina_id
    WHERE b.sokak_id = @sokakID
)
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TarihAraligindakiTasınmaRaporu]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TarihAraligindakiTasınmaRaporu](@baslangic DATE, @bitis DATE)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        v.ad, 
        v.soyad, 
        b.binaAdi, 
        d.icKapiNo, 
        i.tasinmaTarihi
    FROM tbl_ikamet i
    JOIN tbl_vatandas v ON i.ikamet_id = v.ikamet_id 
    JOIN tbl_daire d ON i.daire_id = d.daire_id
    JOIN tbl_bina b ON d.bina_id = b.bina_id
    WHERE i.tasinmaTarihi BETWEEN @baslangic AND @bitis
)
GO
/****** Object:  Table [dbo].[tbl_İl]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_İl](
	[il_id] [int] IDENTITY(1,1) NOT NULL,
	[ilAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_İl] PRIMARY KEY CLUSTERED 
(
	[il_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ilce]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ilce](
	[ilce_id] [int] IDENTITY(1,1) NOT NULL,
	[il_id] [int] NOT NULL,
	[ilceAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_ilce] PRIMARY KEY CLUSTERED 
(
	[ilce_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_mahalle]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_mahalle](
	[mahalle_id] [int] IDENTITY(1,1) NOT NULL,
	[mahalleAdi] [nvarchar](50) NOT NULL,
	[ilce_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_mahalle] PRIMARY KEY CLUSTERED 
(
	[mahalle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_sokak]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_sokak](
	[sokak_id] [int] IDENTITY(1,1) NOT NULL,
	[sokakAdi] [nvarchar](50) NOT NULL,
	[postaKodu] [nvarchar](5) NOT NULL,
	[mahalle_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_sokak] PRIMARY KEY CLUSTERED 
(
	[sokak_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tbl_sokak_postaKodu_tekrar_etmesin] UNIQUE NONCLUSTERED 
(
	[postaKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TamAdresListesi]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TamAdresListesi]()
RETURNS TABLE
AS
RETURN
(
    SELECT 
        il.ilAdi,
        i.ilceAdi,
        m.mahalleAdi, 
        s.sokakAdi, 
        b.binaAdi, 
        b.disKapiNo, 
        d.icKapiNo, 
        d.kat
    FROM tbl_daire d
    JOIN tbl_bina b ON d.bina_id = b.bina_id
    JOIN tbl_sokak s ON b.sokak_id = s.sokak_id
    JOIN tbl_mahalle m ON s.mahalle_id = m.mahalle_id
    JOIN tbl_ilce i ON m.ilce_id = i.ilce_id
    JOIN tbl_il il ON i.il_id = il.il_id
)
GO
/****** Object:  Table [dbo].[tbl_sosyalYardimDurumu]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_sosyalYardimDurumu](
	[sosyalYardimDurumu_id] [int] IDENTITY(1,1) NOT NULL,
	[sosyalYardimDurumuAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_sosyalYardimDurumu] PRIMARY KEY CLUSTERED 
(
	[sosyalYardimDurumu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_yardimTipi]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_yardimTipi](
	[yardimTipi_id] [int] IDENTITY(1,1) NOT NULL,
	[yardimAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_yardimTipi] PRIMARY KEY CLUSTERED 
(
	[yardimTipi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_muhtar]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_muhtar](
	[muhtar_id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[telefon] [nvarchar](11) NOT NULL,
	[mahalle_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_muhtar] PRIMARY KEY CLUSTERED 
(
	[muhtar_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tbl_muhtar_telefon_tekrar_etmesin] UNIQUE NONCLUSTERED 
(
	[telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_sosyalYardim]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_sosyalYardim](
	[sosyalYardim_id] [int] IDENTITY(1,1) NOT NULL,
	[vatandas_id] [int] NOT NULL,
	[yardimTipi_id] [int] NOT NULL,
	[miktar] [int] NULL,
	[verilisTarihi] [date] NULL,
	[aciklama] [nvarchar](max) NOT NULL,
	[muhtar_id] [int] NOT NULL,
	[sosyalYardimDurumu_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_sosyalYardim] PRIMARY KEY CLUSTERED 
(
	[sosyalYardim_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TamamlanmisYardimRaporu]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TamamlanmisYardimRaporu]()
RETURNS TABLE
AS
RETURN
(
    SELECT 
        v.ad AS VatandasAd, 
        v.soyad AS VatandasSoyad, 
        yt.yardimAdi, 
        sy.miktar, 
        sy.verilisTarihi,
        m.ad AS MuhtarAd,
        syd.sosyalYardimDurumuAdi AS Durum
    FROM tbl_sosyalYardim sy
    JOIN tbl_vatandas v ON sy.vatandas_id = v.vatandas_id
    JOIN tbl_yardimTipi yt ON sy.yardimTipi_id = yt.yardimTipi_id
    JOIN tbl_muhtar m ON sy.muhtar_id = m.muhtar_id
    JOIN tbl_sosyalYardimDurumu syd ON sy.sosyalYardimDurumu_id = syd.sosyalYardimDurumu_id
   
    WHERE syd.sosyalYardimDurumuAdi = 'Tamamlandı' 
)
GO
/****** Object:  UserDefinedFunction [dbo].[fn_VatandasIkametSuresi]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_VatandasIkametSuresi]()
RETURNS TABLE
AS
RETURN
(
    SELECT 
        v.ad, 
        v.soyad, 
        b.binaAdi, 
        i.tasinmaTarihi,
        -- Bugünün tarihi ile taşınma tarihi arasındaki gün farkını hesaplar
        DATEDIFF(DAY, i.tasinmaTarihi, GETDATE()) AS OturulanGunSayisi,
        -- Yıl bazında yaklaşık süre
        DATEDIFF(YEAR, i.tasinmaTarihi, GETDATE()) AS OturulanYil
    FROM tbl_vatandas v
    JOIN tbl_ikamet i ON v.ikamet_id = i.ikamet_id
    JOIN tbl_daire d ON i.daire_id = d.daire_id
    JOIN tbl_bina b ON d.bina_id = b.bina_id
)
GO
/****** Object:  Table [dbo].[tbl_evrakTipii]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_evrakTipii](
	[evrakTipii_id] [int] IDENTITY(1,1) NOT NULL,
	[evrakTipiAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_evrakTipii] PRIMARY KEY CLUSTERED 
(
	[evrakTipii_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ikametgahDurumu]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ikametgahDurumu](
	[ikametgahDurumu_id] [int] IDENTITY(1,1) NOT NULL,
	[ikametDurumuAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_ikametgahDurumu] PRIMARY KEY CLUSTERED 
(
	[ikametgahDurumu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_islem]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_islem](
	[islem_id] [int] IDENTITY(1,1) NOT NULL,
	[vatandas_id] [int] NOT NULL,
	[islemTarihi] [date] NULL,
	[evrakTipii_id] [int] NOT NULL,
	[aciklama] [nvarchar](max) NULL,
	[muhtar_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_islem] PRIMARY KEY CLUSTERED 
(
	[islem_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_medeniDurum]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_medeniDurum](
	[medeniDurum_id] [int] IDENTITY(1,1) NOT NULL,
	[medeniDurumAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_medeniDurum] PRIMARY KEY CLUSTERED 
(
	[medeniDurum_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_talepSikayet]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_talepSikayet](
	[talepSikayet_id] [int] IDENTITY(1,1) NOT NULL,
	[vatandas_id] [int] NOT NULL,
	[konu] [nvarchar](100) NOT NULL,
	[detay] [nvarchar](max) NOT NULL,
	[tarih] [date] NULL,
	[cozumTarihi] [date] NULL,
	[oncelik] [nvarchar](50) NULL,
	[talepSikayetDurumu_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_talebSikayet] PRIMARY KEY CLUSTERED 
(
	[talepSikayet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_talepSikayetDurumu]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_talepSikayetDurumu](
	[talepSikayetDurumu_id] [int] IDENTITY(1,1) NOT NULL,
	[talepSikayetDurumuAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_talepSikayetDurumu] PRIMARY KEY CLUSTERED 
(
	[talepSikayetDurumu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_tebligat]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_tebligat](
	[tebligat_id] [int] IDENTITY(1,1) NOT NULL,
	[vatandas_id] [int] NOT NULL,
	[gelenKurum] [nvarchar](100) NOT NULL,
	[gelisTarihi] [date] NULL,
	[teslimatDurumu_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_tebligat] PRIMARY KEY CLUSTERED 
(
	[tebligat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_teslimatDurumu]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_teslimatDurumu](
	[teslimatDurumu_id] [int] IDENTITY(1,1) NOT NULL,
	[teslimatDurmuuAdi] [nvarchar](50) NULL,
	[teslimTarihi] [date] NULL,
 CONSTRAINT [PK_tbl_teslimatDurumu] PRIMARY KEY CLUSTERED 
(
	[teslimatDurumu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_vatandasTur]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_vatandasTur](
	[vatandasTur_id] [int] IDENTITY(1,1) NOT NULL,
	[anneAdi] [nvarchar](50) NOT NULL,
	[babaAdi] [nvarchar](50) NOT NULL,
	[cocukSayisi] [int] NULL,
 CONSTRAINT [PK_tbl_vatandasTur] PRIMARY KEY CLUSTERED 
(
	[vatandasTur_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_ikamet] ADD  CONSTRAINT [DF_tbl_ikamet_tasinmaTarihi]  DEFAULT (getdate()) FOR [tasinmaTarihi]
GO
ALTER TABLE [dbo].[tbl_ikamet] ADD  CONSTRAINT [DF_tbl_ikamet_cikisTarihi]  DEFAULT (getdate()) FOR [cikisTarihi]
GO
ALTER TABLE [dbo].[tbl_ikametgahDurumu] ADD  CONSTRAINT [DF_tbl_ikametgahDurumu_aktifMi]  DEFAULT (N'Bilinmiyor') FOR [ikametDurumuAdi]
GO
ALTER TABLE [dbo].[tbl_islem] ADD  CONSTRAINT [DF_tbl_islem_islemTarihi]  DEFAULT (getdate()) FOR [islemTarihi]
GO
ALTER TABLE [dbo].[tbl_medeniDurum] ADD  CONSTRAINT [DF_tbl_medeniDurum_medeniDurumAdi]  DEFAULT (N'bilinmiyor') FOR [medeniDurumAdi]
GO
ALTER TABLE [dbo].[tbl_sosyalYardim] ADD  CONSTRAINT [DF_tbl_sosyalYardim_miktar]  DEFAULT ((0)) FOR [miktar]
GO
ALTER TABLE [dbo].[tbl_sosyalYardim] ADD  CONSTRAINT [DF_tbl_sosyalYardim_verilisTarihi]  DEFAULT (getdate()) FOR [verilisTarihi]
GO
ALTER TABLE [dbo].[tbl_sosyalYardimDurumu] ADD  CONSTRAINT [DF_tbl_sosyalYardimDurumu_sosylaYardımDurumuAdi]  DEFAULT (N'Bilinmiyor') FOR [sosyalYardimDurumuAdi]
GO
ALTER TABLE [dbo].[tbl_talepSikayet] ADD  CONSTRAINT [DF_tbl_talebSikayet_tarih]  DEFAULT (getdate()) FOR [tarih]
GO
ALTER TABLE [dbo].[tbl_talepSikayet] ADD  CONSTRAINT [DF_tbl_talebSikayet_oncelik]  DEFAULT (N'Normal') FOR [oncelik]
GO
ALTER TABLE [dbo].[tbl_talepSikayetDurumu] ADD  CONSTRAINT [DF_tbl_talepSikayetDurumu_talepSikayetDurumuAdi]  DEFAULT (N'Bilinmiyor') FOR [talepSikayetDurumuAdi]
GO
ALTER TABLE [dbo].[tbl_tebligat] ADD  CONSTRAINT [DF_tbl_tebligat_gelisTarihi]  DEFAULT (getdate()) FOR [gelisTarihi]
GO
ALTER TABLE [dbo].[tbl_teslimatDurumu] ADD  CONSTRAINT [DF_tbl_teslimatDurumu_teslimEdildiMi]  DEFAULT (N'bilinmiyor') FOR [teslimatDurmuuAdi]
GO
ALTER TABLE [dbo].[tbl_teslimatDurumu] ADD  CONSTRAINT [DF_tbl_teslimatDurumu_teslimTarihi]  DEFAULT (getdate()) FOR [teslimTarihi]
GO
ALTER TABLE [dbo].[tbl_vatandas] ADD  CONSTRAINT [DF_tbl_vatandas_cinsiyet]  DEFAULT (N'bilinmiyor') FOR [cinsiyet]
GO
ALTER TABLE [dbo].[tbl_vatandasTur] ADD  CONSTRAINT [DF_tbl_vatandasTur_cocukSayisi]  DEFAULT ((0)) FOR [cocukSayisi]
GO
ALTER TABLE [dbo].[tbl_yardimTipi] ADD  CONSTRAINT [DF_tbl_yardimTipi_yardimAdi]  DEFAULT (N'bilinmiyor') FOR [yardimAdi]
GO
ALTER TABLE [dbo].[tbl_bina]  WITH CHECK ADD  CONSTRAINT [FK_tbl_bina_tbl_sokak] FOREIGN KEY([sokak_id])
REFERENCES [dbo].[tbl_sokak] ([sokak_id])
GO
ALTER TABLE [dbo].[tbl_bina] CHECK CONSTRAINT [FK_tbl_bina_tbl_sokak]
GO
ALTER TABLE [dbo].[tbl_daire]  WITH CHECK ADD  CONSTRAINT [FK_tbl_daire_tbl_bina] FOREIGN KEY([bina_id])
REFERENCES [dbo].[tbl_bina] ([bina_id])
GO
ALTER TABLE [dbo].[tbl_daire] CHECK CONSTRAINT [FK_tbl_daire_tbl_bina]
GO
ALTER TABLE [dbo].[tbl_ikamet]  WITH CHECK ADD  CONSTRAINT [FK_tbl_ikamet_tbl_daire] FOREIGN KEY([daire_id])
REFERENCES [dbo].[tbl_daire] ([daire_id])
GO
ALTER TABLE [dbo].[tbl_ikamet] CHECK CONSTRAINT [FK_tbl_ikamet_tbl_daire]
GO
ALTER TABLE [dbo].[tbl_ikamet]  WITH CHECK ADD  CONSTRAINT [FK_tbl_ikamet_tbl_ikametgahDurumu] FOREIGN KEY([ikametgahDurumu_id])
REFERENCES [dbo].[tbl_ikametgahDurumu] ([ikametgahDurumu_id])
GO
ALTER TABLE [dbo].[tbl_ikamet] CHECK CONSTRAINT [FK_tbl_ikamet_tbl_ikametgahDurumu]
GO
ALTER TABLE [dbo].[tbl_ilce]  WITH CHECK ADD  CONSTRAINT [FK_tbl_ilce_tbl_İl] FOREIGN KEY([il_id])
REFERENCES [dbo].[tbl_İl] ([il_id])
GO
ALTER TABLE [dbo].[tbl_ilce] CHECK CONSTRAINT [FK_tbl_ilce_tbl_İl]
GO
ALTER TABLE [dbo].[tbl_islem]  WITH CHECK ADD  CONSTRAINT [FK_tbl_islem_tbl_evrakTipii] FOREIGN KEY([evrakTipii_id])
REFERENCES [dbo].[tbl_evrakTipii] ([evrakTipii_id])
GO
ALTER TABLE [dbo].[tbl_islem] CHECK CONSTRAINT [FK_tbl_islem_tbl_evrakTipii]
GO
ALTER TABLE [dbo].[tbl_islem]  WITH CHECK ADD  CONSTRAINT [FK_tbl_islem_tbl_muhtar] FOREIGN KEY([muhtar_id])
REFERENCES [dbo].[tbl_muhtar] ([muhtar_id])
GO
ALTER TABLE [dbo].[tbl_islem] CHECK CONSTRAINT [FK_tbl_islem_tbl_muhtar]
GO
ALTER TABLE [dbo].[tbl_islem]  WITH CHECK ADD  CONSTRAINT [FK_tbl_islem_tbl_vatandas] FOREIGN KEY([vatandas_id])
REFERENCES [dbo].[tbl_vatandas] ([vatandas_id])
GO
ALTER TABLE [dbo].[tbl_islem] CHECK CONSTRAINT [FK_tbl_islem_tbl_vatandas]
GO
ALTER TABLE [dbo].[tbl_mahalle]  WITH CHECK ADD  CONSTRAINT [FK_tbl_mahalle_tbl_ilce] FOREIGN KEY([ilce_id])
REFERENCES [dbo].[tbl_ilce] ([ilce_id])
GO
ALTER TABLE [dbo].[tbl_mahalle] CHECK CONSTRAINT [FK_tbl_mahalle_tbl_ilce]
GO
ALTER TABLE [dbo].[tbl_muhtar]  WITH CHECK ADD  CONSTRAINT [FK_tbl_muhtar_tbl_mahalle] FOREIGN KEY([mahalle_id])
REFERENCES [dbo].[tbl_mahalle] ([mahalle_id])
GO
ALTER TABLE [dbo].[tbl_muhtar] CHECK CONSTRAINT [FK_tbl_muhtar_tbl_mahalle]
GO
ALTER TABLE [dbo].[tbl_sokak]  WITH CHECK ADD  CONSTRAINT [FK_tbl_sokak_tbl_mahalle] FOREIGN KEY([mahalle_id])
REFERENCES [dbo].[tbl_mahalle] ([mahalle_id])
GO
ALTER TABLE [dbo].[tbl_sokak] CHECK CONSTRAINT [FK_tbl_sokak_tbl_mahalle]
GO
ALTER TABLE [dbo].[tbl_sosyalYardim]  WITH CHECK ADD  CONSTRAINT [FK_tbl_sosyalYardim_tbl_muhtar] FOREIGN KEY([muhtar_id])
REFERENCES [dbo].[tbl_muhtar] ([muhtar_id])
GO
ALTER TABLE [dbo].[tbl_sosyalYardim] CHECK CONSTRAINT [FK_tbl_sosyalYardim_tbl_muhtar]
GO
ALTER TABLE [dbo].[tbl_sosyalYardim]  WITH CHECK ADD  CONSTRAINT [FK_tbl_sosyalYardim_tbl_sosyalYardimDurumu] FOREIGN KEY([sosyalYardimDurumu_id])
REFERENCES [dbo].[tbl_sosyalYardimDurumu] ([sosyalYardimDurumu_id])
GO
ALTER TABLE [dbo].[tbl_sosyalYardim] CHECK CONSTRAINT [FK_tbl_sosyalYardim_tbl_sosyalYardimDurumu]
GO
ALTER TABLE [dbo].[tbl_sosyalYardim]  WITH CHECK ADD  CONSTRAINT [FK_tbl_sosyalYardim_tbl_vatandas] FOREIGN KEY([vatandas_id])
REFERENCES [dbo].[tbl_vatandas] ([vatandas_id])
GO
ALTER TABLE [dbo].[tbl_sosyalYardim] CHECK CONSTRAINT [FK_tbl_sosyalYardim_tbl_vatandas]
GO
ALTER TABLE [dbo].[tbl_sosyalYardim]  WITH CHECK ADD  CONSTRAINT [FK_tbl_sosyalYardim_tbl_yardimTipi] FOREIGN KEY([yardimTipi_id])
REFERENCES [dbo].[tbl_yardimTipi] ([yardimTipi_id])
GO
ALTER TABLE [dbo].[tbl_sosyalYardim] CHECK CONSTRAINT [FK_tbl_sosyalYardim_tbl_yardimTipi]
GO
ALTER TABLE [dbo].[tbl_talepSikayet]  WITH CHECK ADD  CONSTRAINT [FK_tbl_talebSikayet_tbl_vatandas] FOREIGN KEY([vatandas_id])
REFERENCES [dbo].[tbl_vatandas] ([vatandas_id])
GO
ALTER TABLE [dbo].[tbl_talepSikayet] CHECK CONSTRAINT [FK_tbl_talebSikayet_tbl_vatandas]
GO
ALTER TABLE [dbo].[tbl_talepSikayet]  WITH CHECK ADD  CONSTRAINT [FK_tbl_talepSikayet_tbl_talepSikayetDurumu] FOREIGN KEY([talepSikayetDurumu_id])
REFERENCES [dbo].[tbl_talepSikayetDurumu] ([talepSikayetDurumu_id])
GO
ALTER TABLE [dbo].[tbl_talepSikayet] CHECK CONSTRAINT [FK_tbl_talepSikayet_tbl_talepSikayetDurumu]
GO
ALTER TABLE [dbo].[tbl_tebligat]  WITH CHECK ADD  CONSTRAINT [FK_tbl_tebligat_tbl_teslimatDurumu] FOREIGN KEY([teslimatDurumu_id])
REFERENCES [dbo].[tbl_teslimatDurumu] ([teslimatDurumu_id])
GO
ALTER TABLE [dbo].[tbl_tebligat] CHECK CONSTRAINT [FK_tbl_tebligat_tbl_teslimatDurumu]
GO
ALTER TABLE [dbo].[tbl_tebligat]  WITH CHECK ADD  CONSTRAINT [FK_tbl_tebligat_tbl_vatandas] FOREIGN KEY([vatandas_id])
REFERENCES [dbo].[tbl_vatandas] ([vatandas_id])
GO
ALTER TABLE [dbo].[tbl_tebligat] CHECK CONSTRAINT [FK_tbl_tebligat_tbl_vatandas]
GO
ALTER TABLE [dbo].[tbl_vatandas]  WITH CHECK ADD  CONSTRAINT [FK_tbl_vatandas_tbl_ikamet] FOREIGN KEY([ikamet_id])
REFERENCES [dbo].[tbl_ikamet] ([ikamet_id])
GO
ALTER TABLE [dbo].[tbl_vatandas] CHECK CONSTRAINT [FK_tbl_vatandas_tbl_ikamet]
GO
ALTER TABLE [dbo].[tbl_vatandas]  WITH CHECK ADD  CONSTRAINT [FK_tbl_vatandas_tbl_medeniDurum] FOREIGN KEY([medeniDurum_id])
REFERENCES [dbo].[tbl_medeniDurum] ([medeniDurum_id])
GO
ALTER TABLE [dbo].[tbl_vatandas] CHECK CONSTRAINT [FK_tbl_vatandas_tbl_medeniDurum]
GO
ALTER TABLE [dbo].[tbl_vatandas]  WITH CHECK ADD  CONSTRAINT [FK_tbl_vatandas_tbl_vatandasTur] FOREIGN KEY([vatandasTur_id])
REFERENCES [dbo].[tbl_vatandasTur] ([vatandasTur_id])
GO
ALTER TABLE [dbo].[tbl_vatandas] CHECK CONSTRAINT [FK_tbl_vatandas_tbl_vatandasTur]
GO
ALTER TABLE [dbo].[tbl_muhtar]  WITH CHECK ADD  CONSTRAINT [CK_tbl_muhtar_telefon_11_karakter] CHECK  ((len([telefon])=(11)))
GO
ALTER TABLE [dbo].[tbl_muhtar] CHECK CONSTRAINT [CK_tbl_muhtar_telefon_11_karakter]
GO
ALTER TABLE [dbo].[tbl_sokak]  WITH CHECK ADD  CONSTRAINT [CK_tbl_sokak_postaKodu_5_karakterli_olmalidir] CHECK  ((len([postaKodu])=(5)))
GO
ALTER TABLE [dbo].[tbl_sokak] CHECK CONSTRAINT [CK_tbl_sokak_postaKodu_5_karakterli_olmalidir]
GO
ALTER TABLE [dbo].[tbl_sosyalYardim]  WITH CHECK ADD  CONSTRAINT [CK_tbl_sosyalYardim_miktar_sifirdan_buyukolmali] CHECK  (([miktar]>=(0)))
GO
ALTER TABLE [dbo].[tbl_sosyalYardim] CHECK CONSTRAINT [CK_tbl_sosyalYardim_miktar_sifirdan_buyukolmali]
GO
ALTER TABLE [dbo].[tbl_vatandas]  WITH CHECK ADD  CONSTRAINT [CK_tbl_vatandas_email_@_olmali] CHECK  (([email ] like '%@%'))
GO
ALTER TABLE [dbo].[tbl_vatandas] CHECK CONSTRAINT [CK_tbl_vatandas_email_@_olmali]
GO
ALTER TABLE [dbo].[tbl_vatandas]  WITH CHECK ADD  CONSTRAINT [CK_tbl_vatandas_TcNo_11_karakterli] CHECK  ((len([TcNo])=(11)))
GO
ALTER TABLE [dbo].[tbl_vatandas] CHECK CONSTRAINT [CK_tbl_vatandas_TcNo_11_karakterli]
GO
ALTER TABLE [dbo].[tbl_vatandas]  WITH CHECK ADD  CONSTRAINT [CK_tbl_vatandas_telefon_11_olmalı] CHECK  ((len([telefon])=(11)))
GO
ALTER TABLE [dbo].[tbl_vatandas] CHECK CONSTRAINT [CK_tbl_vatandas_telefon_11_olmalı]
GO
ALTER TABLE [dbo].[tbl_vatandasTur]  WITH CHECK ADD  CONSTRAINT [CK_tbl_vatandasTur_cocukSayisi_sifiraEsitveya_Büyük_olmali] CHECK  (([cocukSayisi]>=(0)))
GO
ALTER TABLE [dbo].[tbl_vatandasTur] CHECK CONSTRAINT [CK_tbl_vatandasTur_cocukSayisi_sifiraEsitveya_Büyük_olmali]
GO
/****** Object:  StoredProcedure [dbo].[stp_binaEkleSilGuncelleme]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_binaEkleSilGuncelleme](
  @bina_id int, @sokak_id int, @disKapiNo nvarchar(10), @binaAdi nvarchar(50), @islem int)
as
begin
	if @islem=1
	begin
		insert into tbl_bina(sokak_id, disKapiNo, binaAdi)
		values (@sokak_id, @disKapiNo, @binaAdi)
	end
	else if @islem=2
	begin
		delete from tbl_bina where bina_id=@bina_id
	end
	else if @islem=3
	begin
		update tbl_bina
		set sokak_id=@sokak_id,
			disKapiNo=@disKapiNo,
			binaAdi=@binaAdi
		where bina_id=@bina_id
	end
	else
		print 'Hatalı İşlem seçimi'

end              
GO
/****** Object:  StoredProcedure [dbo].[stp_daireEkleSilGuncelleme]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_daireEkleSilGuncelleme]
(
  @daire_id int, @icKapiNo nvarchar(10), @kat int, @bina_id int, @islem int
)
as
begin
	if @islem=1
	begin
		insert into tbl_daire(icKapiNo, kat, bina_id)
		values (@icKapiNo, @kat, @bina_id)
	end
	else if @islem=2
	begin
		delete from tbl_daire where daire_id=@daire_id 
	end
	else if @islem=3
	begin
		update tbl_daire
		set bina_id=@bina_id,
			kat=@kat,
			icKapiNo=@icKapiNo
		where daire_id=daire_id
	end
	else
		print 'Hatalı İşlem seçimi'

end
GO
/****** Object:  StoredProcedure [dbo].[stp_evrakTipiiEkleSilGuncelleme]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_evrakTipiiEkleSilGuncelleme](
  @evrakTipii_id int, @evrakTipiAdi nvarchar(50), @islem int)
as
begin
	if @islem=1
	begin
		insert into tbl_evrakTipii(evrakTipiAdi)
		values (@evrakTipiAdi)
	end
	else if @islem=2
	begin
		delete from tbl_evrakTipii where evrakTipii_id=@evrakTipii_id 
	end
	else if @islem=3
	begin
		update tbl_evrakTipii
		set evrakTipiAdi=@evrakTipiAdi
		where evrakTipii_id=evrakTipii_id
	end
	else
		print 'Hatalı İşlem seçimi'

end
GO
/****** Object:  StoredProcedure [dbo].[stp_ikametEkleSilGucelleme_try_trans]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_ikametEkleSilGucelleme_try_trans](
@ikamet_id int, @daire_id int, @tasinmaTarihi  date, @cikisTarihi  date, @ikametgahDurumu_id int, @islem int )
as
begin
	begin try
		begin transaction
			if @islem=1
			begin
				insert into tbl_ikamet(daire_id, tasinmaTarihi, cikisTarihi, ikametgahDurumu_id)
				values (@daire_id, @tasinmaTarihi, @cikisTarihi, @ikametgahDurumu_id)
			end
			else if @islem=2
			begin
				delete from tbl_ikamet where ikamet_id=@ikamet_id
			end
			else if @islem=3
			begin
				update tbl_ikamet
				set daire_id=@daire_id,
				tasinmaTarihi=@tasinmaTarihi,
				cikisTarihi=@cikisTarihi,
				ikametgahDurumu_id=@ikametgahDurumu_id
				where ikamet_id=@ikamet_id
			end
		commit transaction
		print 'işlem Başarıyla Gerçekleştirildi.'
	end try
	begin catch
		print'Hata Oluştu. İşlem Başarısız.'
		rollback
	end catch
end
GO
/****** Object:  StoredProcedure [dbo].[stp_ikametgahDurumuEkleSilGuncelleme]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_ikametgahDurumuEkleSilGuncelleme](
  @ikametgahDurumu_id int, @ikametDurumuAdi nvarchar(50), @islem int)
as
begin
	if @islem=1
	begin
		insert into tbl_ikametgahDurumu(ikametDurumuAdi)
		values (@ikametDurumuAdi)
	end
	else if @islem=2
	begin
		delete from tbl_ikametgahDurumu where ikametgahDurumu_id=@ikametgahDurumu_id
	end
	else if @islem=3
	begin
		update tbl_ikametgahDurumu
		set ikametDurumuAdi=@ikametDurumuAdi
		where ikametgahDurumu_id=@ikametgahDurumu_id
	end
	else
		print 'Hatalı İşlem seçimi'

end              
GO
/****** Object:  StoredProcedure [dbo].[stp_ilceEkleSilGuncelleme]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_ilceEkleSilGuncelleme](
@ilce_id int, @il_id int, @ilceAdi nvarchar(50), @islem int)
as
begin
	if @islem=1
	begin
		insert into tbl_ilce(ilceAdi, il_id)
		values (@ilceAdi, @il_id)
	end
	else if @islem=2
	begin
		delete from tbl_ilce where ilce_id=@ilce_id
	end
	else if @islem=3
	begin
		update tbl_ilce
		set ilceAdi=@ilceAdi,
		il_id=@il_id
		where ilce_id=@ilce_id
	end
	else
		print 'Hatalı İşlem seçimi'

end   
GO
/****** Object:  StoredProcedure [dbo].[stp_ilEkleSilGuncelleme]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_ilEkleSilGuncelleme](
  @il_id int, @ilAdi nvarchar(50), @islem int)
as
begin
	if @islem=1
	begin
		insert into tbl_il(ilAdi)
		values (@ilAdi)
	end
	else if @islem=2
	begin
		delete from tbl_il where il_id=@il_id
	end
	else if @islem=3
	begin
		update tbl_il
		set ilAdi=@ilAdi
		where il_id=@il_id
	end
	else
		print 'Hatalı İşlem seçimi'

end              
GO
/****** Object:  StoredProcedure [dbo].[stp_islemEkleSilGuncelleme]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_islemEkleSilGuncelleme](
 @islem_id int, @vatandas_id int, @islemTarihi date, @evrakTipii_id int, @muhtar_id int, @aciklama nvarchar(50), @islem int)
as
begin
	if @islem=1
	begin
		insert into tbl_islem(vatandas_id,islemTarihi,evrakTipii_id,muhtar_id,aciklama)
		values (@vatandas_id,@islemTarihi,@evrakTipii_id,@muhtar_id,@aciklama)
	end
	else if @islem=2
	begin
		delete from tbl_islem where islem_id=@islem_id
	end
	else if @islem=3
	begin
		update tbl_islem
		set vatandas_id=@vatandas_id,
			islemTarihi=@islemTarihi,
			evrakTipii_id=@evrakTipii_id,
			muhtar_id=@muhtar_id,
			aciklama=@aciklama
		where islem_id=@islem_id
	end
	else
		print 'Hatalı İşlem seçimi'

end              
GO
/****** Object:  StoredProcedure [dbo].[stp_mahalleEkleSilGuncelleme]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_mahalleEkleSilGuncelleme](
 @mahalle_id int, @ilce_id int, @mahalleAdi nvarchar(50), @islem int)
as
begin
	if @islem=1
	begin
		insert into tbl_mahalle(mahalleAdi,ilce_id)
		values (@mahalleAdi,@ilce_id)
	end
	else if @islem=2
	begin
		delete from tbl_mahalle where mahalle_id=@mahalle_id
	end
	else if @islem=3
	begin
		update tbl_mahalle
		set ilce_id=@ilce_id,
			mahalleAdi=@mahalleAdi
		where mahalle_id=@mahalle_id
	end
	else
		print 'Hatalı İşlem seçimi'

end              
GO
/****** Object:  StoredProcedure [dbo].[stp_medeniDurumEkleSilGuncelleme]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_medeniDurumEkleSilGuncelleme](
 @medeniDurum_id int, @medeniDurumAdi nvarchar(50), @islem int)
as
begin
	if @islem=1
	begin
		insert into tbl_medeniDurum(medeniDurumAdi)
		values (@medeniDurumAdi)
	end
	else if @islem=2
	begin
		delete from tbl_medeniDurum where medeniDurum_id=@medeniDurum_id
	end
	else if @islem=3
	begin
		update tbl_medeniDurum
		set medeniDurumAdi=@medeniDurumAdi
		where medeniDurum_id=@medeniDurum_id
	end
	else
		print 'Hatalı İşlem seçimi'

end              
GO
/****** Object:  StoredProcedure [dbo].[stp_muhtarEkleSilGuncelleme]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_muhtarEkleSilGuncelleme](
 @muhtar_id int,@ad nvarchar(50),@soyad nvarchar(50), @telefon nvarchar(11), @mahalle_id int, @islem int)
as
begin
	if @islem=1
	begin
		insert into tbl_muhtar(ad, soyad, telefon, mahalle_id )
		values (@ad, @soyad, @telefon, @mahalle_id )
	end
	else if @islem=2
	begin
		delete from tbl_muhtar where muhtar_id=@muhtar_id
	end
	else if @islem=3
	begin
		update tbl_muhtar
		set ad=@ad,
			soyad=@soyad,
			telefon=@telefon,
			mahalle_id=@mahalle_id
		where muhtar_id=@muhtar_id
	end
	else
		print 'Hatalı İşlem seçimi'

end              
GO
/****** Object:  StoredProcedure [dbo].[stp_sokakEkleSilGuncelleme]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_sokakEkleSilGuncelleme](
 @sokak_id int, @sokakAdi nvarchar(50), @postaKodu nvarchar(5), @mahalle_id int, @islem int)
as
begin
	if @islem=1
	begin
		insert into tbl_sokak(sokakAdi,postaKodu,mahalle_id)
		values (@sokakAdi,@postaKodu,@mahalle_id)
	end
	else if @islem=2
	begin
		delete from tbl_sokak where sokak_id=@sokak_id
	end
	else if @islem=3
	begin
		update tbl_sokak
		set sokakAdi=@sokakAdi
		where sokak_id=@sokak_id
	end
	else
		print 'Hatalı İşlem seçimi'

end              
GO
/****** Object:  StoredProcedure [dbo].[stp_sosyalYardimDurumuEkleSilGuncelleme]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_sosyalYardimDurumuEkleSilGuncelleme](
 @sosyalYardimDurumu_id int,@sosyalYardimDurumuAdi nvarchar(50),  @islem int)
as
begin
	if @islem=1
	begin
		insert into tbl_sosyalYardimDurumu(sosyalYardimDurumuAdi)
		values (@sosyalYardimDurumuAdi)
	end
	else if @islem=2
	begin
		delete from tbl_sosyalYardimDurumu where sosyalYardimDurumu_id=@sosyalYardimDurumu_id
	end
	else if @islem=3
	begin
		update tbl_sosyalYardimDurumu
		set sosyalYardimDurumuAdi=@sosyalYardimDurumuAdi
		where sosyalYardimDurumu_id=@sosyalYardimDurumu_id
	end
	else
		print 'Hatalı İşlem seçimi'

end              
GO
/****** Object:  StoredProcedure [dbo].[stp_sosyalYardimEkleSilGuncelleme]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_sosyalYardimEkleSilGuncelleme](
 @sosyalYardim_id int, @miktar int , @aciklama nvarchar(max), @verilisTarihi date, 
 @vatandas_id int,@yardimTipi_id int,@muhtar_id int,@sosyalYardimDurumu_id int, @islem int)
as
begin
	if @islem=1
	begin
		insert into tbl_sosyalYardim(miktar, aciklama, verilisTarihi, 
					vatandas_id, yardimTipi_id, muhtar_id, sosyalYardimDurumu_id)
		values (@miktar, @aciklama, @verilisTarihi, 
				@vatandas_id, @yardimTipi_id, @muhtar_id, @sosyalYardimDurumu_id)
	end
	else if @islem=2
	begin
		delete from tbl_sosyalYardim where sosyalYardim_id=@sosyalYardim_id
	end
	else if @islem=3
	begin
		update tbl_sosyalYardim
		set miktar=@miktar,
			aciklama=@aciklama,
			verilisTarihi=@verilisTarihi,
			vatandas_id=@vatandas_id,
			yardimTipi_id=@yardimTipi_id,
			muhtar_id=@muhtar_id,
			sosyalYardimDurumu_id=@sosyalYardimDurumu_id
		where sosyalYardim_id=@sosyalYardim_id
	end
	else
		print 'Hatalı İşlem seçimi'

end              
GO
/****** Object:  StoredProcedure [dbo].[stp_talepSikayetDurumuEkleSilGuncelleme]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_talepSikayetDurumuEkleSilGuncelleme](
 @talepSikayetDurmu_id int,@talepSikayetDurumuAdi nvarchar(50),  @islem int)
as
begin
	if @islem=1
	begin
		insert into tbl_talepSikayetDurumu(talepSikayetDurumuAdi)
		values (@talepSikayetDurumuAdi)
	end
	else if @islem=2
	begin
		delete from tbl_talepSikayetDurumu where talepSikayetDurmu_id=@talepSikayetDurmu_id
	end
	else if @islem=3
	begin
		update tbl_talepSikayetDurumu
		set talepSikayetDurumuAdi=@talepSikayetDurumuAdi
		where talepSikayetDurmu_id=@talepSikayetDurmu_id
	end
	else
		print 'Hatalı İşlem seçimi'

end              
GO
/****** Object:  StoredProcedure [dbo].[stp_talepSikayetEkleSilGuncelleme]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_talepSikayetEkleSilGuncelleme](
 @talepSikayet_id int,@vatandas_id int, @konu nvarchar(100), @detay nvarchar(max), @tarih date, @cozumTarihi date, @oncelik nvarchar(50), @talepSikayetDurumu_id int,  @islem int)
as
begin
	if @islem=1
	begin
		insert into tbl_talepSikayet(vatandas_id, konu, detay, tarih, cozumTarihi, oncelik, talepSikayetDurumu_id)
		values (@vatandas_id, @konu, @detay, @tarih, @cozumTarihi, @oncelik, @talepSikayetDurumu_id)
	end
	else if @islem=2
	begin
delete from tbl_talepSikayet where talepSikayet_id=@talepSikayet_id
	end
	else if @islem=3
	begin
		update tbl_talepSikayet
		set vatandas_id=@vatandas_id,
			konu=@konu,
			detay=@detay,
			tarih=@tarih,
			cozumTarihi=@cozumTarihi,
			oncelik=@oncelik,
			talepSikayetDurumu_id=@talepSikayetDurumu_id
		where talepSikayet_id=@talepSikayet_id
	end
	else
		print 'Hatalı İşlem seçimi'

end     
GO
/****** Object:  StoredProcedure [dbo].[stp_tebligatEkleSilGuncelleme]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_tebligatEkleSilGuncelleme](
 @tebligat_id int,@vatandas_id int, @gelenKurum nvarchar(100), @gelisTarihi date,@teslimatDurumu_id int,  @islem int)
as
begin
	if @islem=1
	begin
		insert into tbl_tebligat(vatandas_id, gelenKurum, gelisTarihi, teslimatDurumu_id)
		values (@vatandas_id, @gelenKurum, @gelisTarihi, @teslimatDurumu_id)
	end
	else if @islem=2
	begin
delete from tbl_tebligat where tebligat_id=@tebligat_id
	end
	else if @islem=3
	begin
		update tbl_tebligat
		set vatandas_id=@vatandas_id,
			gelenKurum=@gelenKurum,
			gelisTarihi=@gelisTarihi,
			teslimatDurumu_id=@teslimatDurumu_id
		where tebligat_id=@tebligat_id
	end
	else
		print 'Hatalı İşlem seçimi'

end     
GO
/****** Object:  StoredProcedure [dbo].[stp_teslimatDurumuEkleSilGuncelleme]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_teslimatDurumuEkleSilGuncelleme](
 @teslimatDurumu_id int,@teslimatDurmuuAdi nvarchar(50),@teslimTarihi date,  @islem int)
as
begin
	if @islem=1
	begin
		insert into tbl_teslimatDurumu(teslimatDurmuuAdi, teslimTarihi)
		values (@teslimatDurmuuAdi, @teslimTarihi)
	end
	else if @islem=2
	begin
		delete from tbl_teslimatDurumu where teslimatDurumu_id=@teslimatDurumu_id
	end
	else if @islem=3
	begin
		update tbl_teslimatDurumu
		set teslimatDurmuuAdi=@teslimatDurmuuAdi,
			teslimTarihi=@teslimTarihi
		where teslimatDurumu_id=@teslimatDurumu_id
	end
	else
		print 'Hatalı İşlem seçimi'

end              
GO
/****** Object:  StoredProcedure [dbo].[stp_vatandasEkleSilGuncelleme]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_vatandasEkleSilGuncelleme](
	@vatandas_id int, @ad nvarchar(50), @soyad nvarchar(50),@dogumTarihi datetime, @TcNo nvarchar(11), @cinsiyet nvarchar(1), @telefon nvarchar(11), @email nvarchar(50), @medeniDurum_id int, @vatandasTur_id int, @ikamet_id int,  @islem int)
as
begin
	if @islem=1
	begin
		insert into tbl_vatandas(ad, soyad, dogumTarihi, TcNo, cinsiyet, telefon, email, medeniDurum_id, vatandasTur_id, ikamet_id )
		values (@ad, @soyad, @dogumTarihi, @TcNo, @cinsiyet, @telefon, @email, @medeniDurum_id, @vatandasTur_id, @ikamet_id )
	end
	else if @islem=2
	begin
delete from tbl_vatandas where vatandas_id=@vatandas_id
	end
	else if @islem=3
	begin
		update tbl_vatandas
		set ad=@ad,
			soyad=@soyad,
			dogumTarihi=@dogumTarihi,
			TcNo=@TcNo,
			cinsiyet=@cinsiyet,
			telefon=@telefon,
			email=@email,
			medeniDurum_id=@medeniDurum_id,
			vatandasTur_id=@vatandasTur_id,
			ikamet_id=@ikamet_id
		where vatandas_id=@vatandas_id
	end
	else
		print 'Hatalı İşlem seçimi'

end     
GO
/****** Object:  StoredProcedure [dbo].[stp_vatandasTurEkleSilGuncelleme]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_vatandasTurEkleSilGuncelleme](
 @vatandasTur_id int,@anneAdi nvarchar(50),@babaAdi nvarchar(50), @cocukSayisi int, @islem int)
as
begin
	if @islem=1
	begin
		insert into tbl_vatandasTur(anneAdi, babaAdi, cocukSayisi)
		values (@anneAdi,@babaAdi,@cocukSayisi)
	end
	else if @islem=2
	begin
		delete from tbl_vatandasTur where vatandasTur_id=@vatandasTur_id
	end
	else if @islem=3
	begin
		update tbl_vatandasTur
		set anneAdi=@anneAdi,
			babaAdi=@babaAdi,
			cocukSayisi=@cocukSayisi
		where vatandasTur_id=@vatandasTur_id
	end
	else
		print 'Hatalı İşlem seçimi'

end              
GO
/****** Object:  StoredProcedure [dbo].[stp_yardimTipiEkleSilGuncelleme]    Script Date: 25.05.2026 15:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_yardimTipiEkleSilGuncelleme](
 @yardimTipi_id int,@yardimAdi nvarchar(50), @islem int)
as
begin
	if @islem=1
	begin
		insert into tbl_yardimTipi(yardimAdi)
		values (@yardimAdi)
	end
	else if @islem=2
	begin
		delete from tbl_yardimTipi where yardimTipi_id=@yardimTipi_id
	end
	else if @islem=3
	begin
		update tbl_yardimTipi
		set yardimAdi=@yardimAdi
		where yardimTipi_id=@yardimTipi_id
	end
	else
		print 'Hatalı İşlem seçimi'

end              
GO
